<div id="my_log-top">

  <div id="top-wrapper">
    <%= video_tag("/videos/sample.mp4", autoplay: :true, loop: :true, muted: :true, style: "width : 100%;", class: "top-video") %>
    <div class="top-title">
      <h1>My Log Life</h1>
    </div>
  </div>

</div>
